.presentation-block {
  position: relative;
  background: linear-gradient(111.04deg, #E2E2E2 0.39%,
          rgba(255, 255, 255, 0) 86.46%);

  .presentation__main-img_mobile {
    display: none;
  }

  .presentation-above-header__line_invisible {
    height: 1px;
  }

  .presentation-above-header__line {
    width: 184px;
    height: 4px;
    background-color: #00C368;
    margin: 74px auto 22px auto;
  }

  .presentation__header {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #2E3A59;
    margin-bottom: 69px;
  }

  .presentation-slider_mobile {
    display: none;
  }

  .presentation-cluster-line-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }

  .presentation-cluster__item {
    max-width: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 64px;
      height: 71px;
    }

    p {
      text-align: center;
      line-height: 19px;
      color: #2E3A59;
    }
  }

  .presentation-cluster__item-1 {
    margin-right: 109px;
  }

  .presentation-cluster-line-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 39px;
  }

  .presentation-cluster__item-3 {
    margin-right: 30px;
    position: relative;
    overflow: visible;
  }

  .presentation-background-image-1 {
    position: absolute;
    width: 442px !important;
    height: 447px !important;
    left: -331px;
    top: -110px;
  }

  .presentation-cluster__item-4 {
    margin-left: 30px;
    position: relative;
    overflow: visible;
  }

  .presentation-background-image-2 {
    position: absolute;
    width: 442px !important;
    height: 447px !important;
    right: -390px;
    top: -300px;
    transform: rotate(0deg);
  }


  .presentation-cluster-line-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 93px;
  }

  .presentation-cluster__item-5 {
    margin-right: 109px;
  }
}

@media screen and (max-width: 768px) {
  .presentation-block {
    background: none;

    .presentation__main-img_mobile {
      display: flex;
      margin: 0 auto 38px auto;
    }

    .presentation-above-header__line_invisible,
    .presentation-above-header__line,
    .presentation-cluster {
      display: none;
    }

    .presentation__header {
      font-size: 24px;
      line-height: 28px;
    }


    .presentation-slider_mobile {
      display: flex;
      margin-bottom: 80px;

      .presentation-cluster__item {
        margin: auto;
        padding-bottom: 40px;
      }
    }

  }
  :root {
    --swiper-theme-color: #000;
  }
}
